bin
.classpath
.settings
.project
.DS_Store
/target
/log.txt
/log.txt.1
/log.txt.2
/log.txt.3
/log.txt.4
/log.txt.5
/log.txt.6
/log.txt.10
/log.txt.11
/log.txt.12
/log.txt.13
/log.txt.14
/log.txt.15
/log.txt.7
/log.txt.8
/log.txt.9
